h1 {
  font-family: "sansita";
  color: #1b1b1b;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: transparent;
}

ion-input {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

ion-item {
  border-radius: 25px !important;
  padding: 0px;
  height: 45px;
  background-color: transparent;
}

.message{
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: rgb(27, 27, 27);
  margin-bottom: 300px !important;
  background-color: transparent;
}

ion-list{
  background-color: transparent;
}

.buttonU {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-size: 1rem;
  background-color: #ee2a75 !important;
  border-radius: 20px;
  color: white !important;
}
ion-textarea{
  height: auto;
}
.wrapper{
  margin-top: 50px;
}