<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>Greether</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>

    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col class="ion-text-start">
              <h2>Welcome back!</h2>
              <p>Sign in to continue</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list class="ion-text-start">

                <ion-label class="ion-text-start">Username</ion-label>
                <ion-item>
                  <ion-icon class="user-icon" size="small" name="person-outline"></ion-icon>
                  <ion-input name="email" type="email" [(ngModel)]="loginUser.email" required></ion-input>
                </ion-item>

                <ion-label class="ion-text-start">Password</ion-label>
                <ion-item>
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required>
                  </ion-input>
                </ion-item>
                <ion-text class="ion-text-end">
                  <p> Forgot Password?</p>
                </ion-text>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button class="button" type="submit" color="danger-shade" shape="round">
                sign in
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>


        <p class="registerText"> don't have an account?
          <a class="signUP" size="medium" (click)="mostrarLogin()">
            Sign up
          </a>
        </p>
        <div class="socialContainer">
          <a href="https://www.instagram.com/greet.her/" target="_blank" rel="noopener noreferrer">
            <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
          </a>
          <a href="https://www.facebook.com/greetherhere/" target="_blank" rel="noopener noreferrer">
            <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
          </a>
        </div>
      </form>



    </ion-slide>

    <ion-slide>


      <ion-grid fixed>

        <!-- Avatar Selector -->
        <app-avatar-selector (avatarSel)="registerUser.avatar = $event"></app-avatar-selector>

        <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="registerUser.email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Name</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="registerUser.password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
        <p class="registerText"> already have an account?
          <a class="signUP" size="medium" (click)="mostrarRegistro()">
            Sign in
          </a>
        </p>
        <!-- <p class="registerText">Already have an account?
          <a color="signUP" size="medium" (click)="mostrarRegistro()">
            Sign in
          </a>
        </p> -->
      </ion-grid>

    </ion-slide>


  </ion-slides>




</ion-content>


<ion-footer no-border>
  <ion-toolbar>

    <ion-row>

      <ion-col>
        <!-- <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary"
          (click)="mostrarRegistro()">
          Login
        </ion-button> -->
      </ion-col>

      <!-- <ion-col>
         <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary" (click)="mostrarLogin()">
          Register
        </ion-button> 
      </ion-col>-->

    </ion-row>



  </ion-toolbar>
</ion-footer>