// .mainSlide,
// .mainSlide ion-slide {
//   // width: 100%;
//   // height: 100%;
// }

.pick-avatar {
  width: 80px;
  opacity: 0.3;
}

.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

ion-list {
  background: #e5f3f9;
  font-family: "Montserrat", sans-serif;
}

ion-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #1b1b1b;
}
ion-footer {
  background: #e5f3f9;
}

.item-inner {
  background-color: transparent !important;
}

.img-login {
  width: 50%;
  height: 9rem;
  border-radius: 50%;
}

* {
  font-family: "Sansita", sans-serif;
}

.social-icon {
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}
ion-input {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

h1,
h2 {
  color: rgb(27, 27, 27);
}
.user-icon {
  color: #ee2a75;
}

.button {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  width: 100%;
  font-size: 1rem;
  background-color: #ee2a75 !important;
  border-radius: 20px;
  color: white !important;
}

ion-item {
  border-radius: 25px !important;
  padding: 0px;
  height: 45px;
}
.registerText {
  color: black;
}
.signUP {
  font-size: 1rem;
}
.socialContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-block-start: 25px;
}

a {
  color: #ee2a75;
}
