h1 {
  font-family: "sansita";
  color: #1b1b1b;
}
ion-header {
  background-color: white;
}
ion-grid {
  background-color: white !important;
}
ion-grid.md.grid-fixed.hydrated{
  background-color: #9c2222;
}