


.img-avatar {
  width: 150px;
}

.top-20 {
  margin-top: 20px;
}



h1.title{
  font-family: 'Sansita';
}


.buttonU {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  width: 80%;
  font-size: 1rem;
  background-color: #ee2a75 !important;
  border-radius: 20px;
  color: white !important;
}

ion-input {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

ion-item {
  border-radius: 25px !important;
  padding: 0px;
  height: 45px;
}

ion-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: rgb(27, 27, 27);
  margin-bottom: 300px !important;
  background-color: transparent;
}
ion-list{
  background-color: #e5f3f9;
}